body
{
    margin: 0 auto;
    padding: 0;

}
.menu
{
    margin: 20px 25px 20px 25px;
}
.logo
{
    clear: both;
    display: flex;
    flex-flow: row wrap;
}
.name
{
    width: 40%;
    float: left;
}
.herb
{
    width: 150px;
    height: 150px;
}
.nazwa
{
    font-size: 40px;
    font-weight: 700;
    font-family: "Space Grotesk", serif;

