body
{
    background-color: #FFFFFF;
}
.nagłówek
{
    width: 100%;
    height: 300px;
    float: left;
}
.logo
{
    width: 200px;
    height: 200px;
    float: left;
}
.Nazwa
{
    font-size: 40px;
    font-weight: 700;
    font-family: "Space Grotesk", serif;
    align-items:
}
